ArduinoIDE.Setup/bin/Debug/ArduinoIDE.Setup.msi
ArduinoLadder.Bootstrapper/bin/Debug/ArduinoLadder.exe
ArduinoLadder.Bootstrapper/bin/Debug/ArduinoLadder.exe
ArduinoLadder.Bootstrapper/bin/Debug/gtk-sharp-2.12.22.msi
ArduinoLadder.Bootstrapper/bin/Debug/ArduinoLadder.exe
ArduinoLadder.Setup/bin/Debug/ArduinoLadder.Setup.msi
LadderLogic.v14.suo
ArduinoIDE.Setup/bin/Debug/ArduinoIDE.Setup.wixpdb
ArduinoIDE.Setup/obj/Debug/ArduinoIDE.Setup.wixproj.BindOutputsFileListnull.txt
ArduinoLadder.Bootstrapper/bin/Debug/ArduinoLadder.exe
ArduinoLadder.Bootstrapper/obj/Debug/ArduinoLadder.Bootstrapper.wixproj.BindBuiltOutputsFileList.txt
ArduinoLadder.Bootstrapper/obj/Debug/ArduinoLadder.Bootstrapper.wixproj.BindOutputsFileList.txt
ArduinoLadder.Bootstrapper/obj/Debug/Bundle.wixobj
ArduinoLadder.CustomAction/bin/Debug/ArduinoLadder.CustomAction.CA.dll
ArduinoLadder.CustomAction/bin/Debug/Microsoft.Deployment.WindowsInstaller.xml
ArduinoLadder.CustomAction/obj/x86/Debug/ArduinoLadder.CustomAction.csprojResolveAssemblyReference.cache
ArduinoLadder.Setup/bin/Debug/ArduinoLadder.Setup.msi
ArduinoLadder.Setup/obj/Debug/ArduinoLadder.Setup.wixproj.BindContentsFileListnull.txt
ArduinoLadder.Setup/obj/Debug/ArduinoLadder.Setup.wixproj.FileList.txt
bin/Debug/LadderLogic.exe
LadderLogic.sln.ide/edb.chk
LadderLogic.v14.suo
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/LadderLogic.exe
obj/x86/Debug/LadderLogic.pdb