<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Arduino Ladder" Version="1.0.0.0" Manufacturer="Beeond Inc." UpgradeCode="626fd23a-2d9f-40c6-94f4-d8daab60a3ea" IconSourceFile="..\ladder_icon.ico">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<!-- Todo license flie-->
		<!-- <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      		<bal:WixStandardBootstrapperApplication LicenseFile="license.rtf" LogoFile="Bitmaps/logo.bmp"/>
    	</BootstrapperApplicationRef> -->
		<util:RegistrySearch Variable="GTKSHARPVERSION" Id="gsversion" Root="HKLM" Key="SOFTWARE\Xamarin\GtkSharp\Version" Result="value" Format="raw" />
		
		<Variable Name="LaunchTarget" Value="[InstallFolder]\LadderLogic.exe"/>
		
		<Chain>
			<PackageGroupRef Id="NetFx40Redist"/>
    		<MsiPackage Id="MyApplication" SourceFile="..\ArduinoLadder.Setup\bin\Debug\ArduinoLadder.Setup.msi"/>
		
		 	<MsiPackage Id="GtkSharpSetup" SourceFile="..\Libs\gtk-sharp-2.12.22.msi" Compressed="no" ForcePerMachine="yes" Visible="yes" Vital="yes" Cache="yes"
                  InstallCondition="NOT(GTKSHARPVERSION &gt;= &quot;2.12.22&quot;)" Permanent="yes" DisplayInternalUI="yes"
                  DownloadUrl="http://download.xamarin.com/GTKforWindows/Windows/gtk-sharp-2.12.22.msi" />
		</Chain>
	</Bundle>
</Wix>